body {
  background-color: var(--primay-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

:root {
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primay-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --button-link-primary: #2196f3;
  --button-active-color: #188ce8;
  --logo-secondary-color: #000000;
  --project-card-shadow: #eeeeee;
  --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --filtres-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-form-button: rgba(0, 0, 0, 0.15);
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --gradient-hero: rgba(47, 48, 58, 0.4);
  --text-bg-section: rgba(47, 48, 58, 0.8);
  --bg-project-hover: rgba(33, 150, 243, 0.9);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --button-modal-border: rgba(0, 0, 0, 0.1);
  --bg-color-modal: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --border-color-form: rgba(33, 33, 33, 0.2);
  --border-color-button-footer: rgba(255, 255, 255, 0.3);
}
.list {
  list-style: none;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/
.header {
  border-bottom: 1px solid var(--border-header-color);
}
.header-content {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}

/*logo*/

.logo {
  color: var(--button-link-primary);
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Raleway';
  margin-right: 93px;
}
.logo__text {
  color: var(--logo-secondary-color);
  letter-spacing: 0.03em;
}

/* site nav*/
.site-nav {
  display: flex;
  gap: 50px;
}
.site-nav__item {
  letter-spacing: 0.02em;
}

.site-nav__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-nav .site-nav__link.current {
  color: var(--button-link-primary);
}
.site-nav__link--current {
  position: relative;
}
.site-nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--button-link-primary);
  border-radius: 2px;
  bottom: 0;
  right: 0;
  animation: animation-current var(--animation);
}
@keyframes animation-current {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  transition: color var(--animation);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--button-link-primary);
  transition: color var(--animation);
}

/*header-contact */
.header-contact {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header-contact__link {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 10px;
  transition: color var(--animation);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--button-link-primary);
}

/* hero */
.hero {
  background-color: var(--tertiary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, var(--gradient-hero), var(--gradient-hero)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primay-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.hero__button {
  padding: 10px 32px 10px 32px;
  color: var(--primay-bg-color);
  background-color: var(--button-link-primary);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  transition: background-color var(--animation);
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-active-color);
  transition: background-color var(--animation);
  opacity: 1;
}

/* peculiarity */
.peculiarity-icon {
  display: flex;
  gap: 30px;
}
.peculiarity-icon__item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarity {
  display: flex;
  align-items: center;
  gap: 30px;
}
.peculiarity__item {
  width: calc((100% - 90px) / 4);
}

.peculiarity__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.peculiarity__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* work */
.work {
  padding-bottom: 94px;
}
.our-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.our-work__list {
  display: flex;
  gap: 30px;
}
.our-work__item {
  position: relative;
}

.our-work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--primay-bg-color);
  background-color: var(--text-bg-section);

  width: 100%;
  height: 70px;
}

/* our-team */

.our-team {
  background-color: var(--secondary-bg-color);
}
.our-team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team__list {
  display: flex;
  gap: 30px;
}

.our-team__item {
  background-color: var(--primay-bg-color);
  text-align: center;
  box-shadow: var(--box-shadow-card);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
}

.our-team__subtitle {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.our-team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}
.socials-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color var(--animation), fill var(--animation);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--button-link-primary);
  fill: var(--primay-bg-color);
}

/*clients*/
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients__list {
  display: flex;
  gap: 30px;
}
.client__item {
  border-radius: 4px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  transition: border-color var(--animation), fill var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--button-link-primary);
  border-color: var(--button-link-primary);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--tertiary-bg-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.footer__container {
  display: flex;
  gap: 70px;
}
.logo-foot {
  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.secondary-container__text {
  color: var(--primay-bg-color);
}
.address-list__item {
  margin-bottom: 9px;
}
.address-list__item:last-child {
  margin-bottom: 0;
}
.address-list__link {
  color: var(--contacts-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color var(--animation);
}
.address-list__location {
  color: var(--primay-bg-color);
}
.address-list__link:hover,
.address-list__link:focus {
  color: var(--button-link-primary);
}
.footer-social-networks__title {
  color: var(--primay-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-top: 12px;
}
.footer-social-networks__list {
  display: flex;
  gap: 10px;
}

.footer-social-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primay-bg-color);
  background-color: var(--footer-icon-background);
  transition: background-color var(--animation);
}
.footer-social-networks__link:hover,
.ffooter-social-networks__link:focus {
  background-color: var(--button-link-primary);
}
.form-footer {
  margin-left: 23px;
  padding-top: 12px;
}
.form-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primay-bg-color);
  margin-bottom: 20px;
}
.form-container {
  display: flex;
  gap: 12px;
}
.form-label__input {
  outline: none;
  border: none;
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid var(--border-color-button-footer);
  border-radius: 4px;
  padding: 15px 16px;
  transition: border-color var(--animation);
  cursor: pointer;
  color: var(--primay-bg-color);
}
.form-label__input:focus {
  border-color: var(--button-active-color);
}
.footer-button {
  width: 200px;
  height: 50px;
  background-color: var(--button-link-primary);
  box-shadow: 0px 4px 4px var(--box-form-button);
  border-radius: 4px;
  border: 0;
  color: var(--primay-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color var(--animation);
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-active-color);
}
/* portfolio */

/* filter*/

.filtr-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filtr-list__button {
  padding: 6px 22px 6px 22px;
  background: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filtr-list__button:hover,
.filtr-list__button:focus {
  background-color: var(--button-link-primary);
  color: var(--primay-bg-color);
  box-shadow: var(--filtres-box-shadow);
}

/*project*/
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project__item {
  width: calc((100% - 60px) / 3);
}
.project-link__aside-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primay-bg-color);
  background-color: var(--bg-project-hover);

  padding: 63px 24px;
  height: 294px;
  width: 100%;

  position: absolute;
  top: 0;
  opacity: 0;

  transform: translate(0, 100%);
  transition: transform var(--animation), opacity var(--animation);
}
.project-link__inner {
  overflow: hidden;
  position: relative;
}

.project-link:hover .project-link__aside-text,
.project-link:focus .project-link__aside-text {
  opacity: 1;
  bottom: 100%;
  transform: translate(0, 0);
}
.project-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--animation);
}
.project-link:hover,
.project-link:focus {
  box-shadow: var(--box-shadow-portfolio);
}
.project-link__title {
  color: var(--title-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-link__inner-text {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--project-card-shadow);
  border-top: 0;
}
.project-link__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* modal window */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  opacity: 1;
  background-color: var(--bg-color-modal);

  width: 100%;
  height: 100%;

  transition: opacity var(--animation), background-color var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;

  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
  background-color: var(--primay-bg-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
}
.modal-window__button {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 60%;
  background-color: var(--primay-bg-color);
  border-color: var(--button-modal-border);
  cursor: pointer;
  transition: fill var(--animation);
}
.modal-window__button:hover {
  fill: var(--button-active-color);
  transition: fill var(--animation);
}
.form-hero {
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
.form-hero__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-filed {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 4px;
}
.form-filed__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-filed__container {
  position: relative;
}
.form-filed__input {
  border: none;
  outline: none;
  height: 40px;
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
  padding: 0px 12px 0px 42px;
  width: 100%;
  transition: border-color var(--animation);
  cursor: pointer;
}
.form-filed__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}
.textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 4px;
}
.form-filed__input:focus,
.textarea__window:focus {
  border-color: var(--button-link-primary);
}
.form-filed__input:focus ~ .form-filed__icon {
  fill: var(--button-link-primary);
}

.textarea__window {
  outline: none;
  height: 120px;
  resize: none;
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
  padding: 16px 12px;
  transition: border-color var(--animation);
}
.textarea__window::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
/* checkbox */
.form-checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 13px;
  cursor: pointer;
}

.form-checkbox__input:checked ~ .form-checkbox__icon {
  opacity: 1;
}
.form-checkbox__input:checked + .form-checkbox__frame,
.form-checkbox__input:focus + .form-checkbox__frame {
  border-color: var(--button-link-primary);
}

.form-checkbox__icon {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity var(--animation);
  fill: var(--button-link-primary);
}
.form-checkbox__frame {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: border-color var(--animation);
}
.form-checkbox__link {
  color: var(--button-link-primary);
  text-decoration: none;
  position: relative;
}
.form-checkbox__link::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--button-link-primary);
}

.form-hero__button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background-color: var(--button-link-primary);
  color: var(--primay-bg-color);
  border: 0;
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--animation);
}
.form-hero__button:hover {
  background-color: var(--button-active-color);
}
